h2,h4{text-align:center;color:orange}
h4{color:red}
img{
    height: 100px;
    width:100px; 
    background-size: cover;
    display: block;
    border:  1px solid #000; 
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

thead{
    background-color: gray;
    color: black;
}

