<h1>{{title}}{{employee.employeeFName}}{{employee.eventLName}}</h1>
<hr>

<table class="table">
    <tr>
        <th>Employee ID</th>
        <td><span [innerText]="employee.employeeID"></span></td>
    </tr>
    <tr>
        <th>Employee Name</th>
        <td><span [innerText]="employee.employeeFName+' '+ employee.eventLName | lowercase"></span></td>
    </tr>
    <tr>
        <th>JOB Description</th>
        <td><span [innerText]="employee.jobDescription|uppercase"></span></td>
    </tr>
    <tr>
        <th>Address</th>
        <td><span [innerText]="employee.address|lowercase"></span></td>
    </tr>
    <tr>
        <th>Phone</th>
        <td><span [innerText]="employee.phone"></span></td>
    </tr>
    <tr>
        <th>Birth Date</th>
        <td><span [innerText]="employee.birthDate|date:'short'"></span></td>
    </tr>
    <tr>
        <th>Joining Date</th>
        <td><span [innerText]="employee.joiningDate|date:'medium'"></span></td>
    </tr>
    <tr>
        <th>Rating</th>
        <td>
            <div class="progress progress-striped active">
                <div class="progress-bar" [style.width]="(employee.rating*10)+'%'" 
                [title]="employee.rating*10+'%'"
                >{{employee.rating*10+'%'}}</div>
                
            </div>
            </td>
    </tr>
    <tr>
        <th>Photo</th>
        <td>
            <img [src]="employee.photo" alt=""  class="img-circle" [title]="employee.employeeFName">
        </td>
    </tr>
</table>