<h1>{{title}}{{task.Name}}</h1>
<hr>
<button (click)="showDetail=false">Back</button>
<table class="table" *ngIf="showDetail">
    <tr>
        <th>AssignedToEmp ID</th>
        <td><span [innerText]="task.AssignedToEmp"></span></td>
    </tr>
    <tr>
        <th>Description Name</th>
        <td><span [innerText]="task.Description | lowercase"></span></td>
    </tr>
    <tr>
        <th>UserStoryId</th>
        <td><span [innerText]="task.UserStoryId|uppercase"></span></td>
    </tr>

    <tr>
        <th>TaskID</th>
        <td><span [innerText]="task.TaskID"></span></td>
    </tr>
    <tr>
        <th>Status</th>
        <td><span [innerText]="task.Status"></span></td>
    </tr>  
</table>
