<h1 [innerText]="title"> </h1>
<hr>
<h2 [innerHTML]="subTitle"> </h2>

<table class="table">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>Employee Name</th>
            <th>Address</th>
            <th>City</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td><span [innerText]="task.AssignedToEmp"></span></td>
            <td><span [innerText]="task.Description|uppercase"></span></td>
            <td><span [innerText]="task.TaskID"></span></td>
            <td><span [innerText]="task.Title|uppercase"></span></td>
            <td><span [innerText]="task.UserStoryId"></span></td>
            <td><button class="btn btn-success" (click)="showTask(task)">Show Details</button></td>
        </tr>
    </tbody>
</table>
<div *ngIf="selectedTask">
    <task-detail [task]="selectedTask"></task-detail>
</div>